body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Merriweather', serif; 
    font-family:"Fontawesome";
}

@font-face{
    font-family:"Fontawesome";
    src: url('../fonts/fontawesome-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 